* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
input {
  padding: 0.9rem 1.3rem;
  font-size: medium;
  font-weight: bold;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  outline: 1px solid forestgreen;
}
.input-container {
  text-align: center;
  width: 300px;
}
.btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #4caf50;
  color: #ffffff;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  margin-top: 10px;
}
